html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(187,225,247);
    margin: auto;
    width: 80.8964%;
    font-family: 'LXGW WenKai', sans-serif;
    font-size: large;
}
.headbar {
    width: 100%;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    display: flex;
}
.headbar img{
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    vertical-align: middle;
}
.headbar h1{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5rem;
    font-size: 3.5rem;
}
.headbar .nav {
    display: flex;
    margin-left: auto;
    margin: auto;
    vertical-align: middle;
    margin-right: 3px;
}
.headbar .nav *{
    margin-left: 23.333px;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
    color: inherit;
    word-break: break-all;
}
li a{
    color: #c60002;
}